@font-face {
    font-family: "DM Sans";
    src: url("../../../../res/fonts/DMSans-Medium.ttf");
    src: url("../../../../res/fonts/DMSans-Regular.ttf");
    src: url("../../../../res/fonts/DMSans-Bold.ttf");
}

.contact-book {
    min-width: 320px;
}
.contact-book__main-content {
    position: absolute;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2e3140;
    height: 100%;
    width: calc(100% - 240px);
    right: 0px;
    top: 0px;
    z-index: 2;
    background-color: #fafafc;
    padding: 30px;
}
.contact-book__header-contacts {
    display: flex;
    justify-content: space-between;
    height: 31px;
}
.contact-book__title-inner {
    display: flex;
    gap: 2px;
}
@media (max-width: 1024px) {
    .contact-book__title-inner {
        padding-left: 50px;
    }
}
.contact-book__title-all-contacts {
    display: flex;
    align-items: center;
    margin: 0;
}
@media (max-width: 382px) {
    .contact-book__title-all-contacts {
        font-size: 18px;
    }
}
.contact-book__number-of-contacts {
    height: 17px;
    padding: 3px 6px;
    background: #959bad;
    border-radius: 30px;
    font-family: "DM Sans ";
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.contact-book__inner-person {
    position: relative;
    display: flex;
    align-items: center;
    gap: 78px;
    overflow: hidden;
}
@media (max-width: 526px) {
    .contact-book__notification-img {
        padding-right: 40px;
    }
}
.contact-book__img-person {
    position: absolute;
    top: -12px;
    left: 33px;
}
@media (max-width: 526px) {
    .contact-book__img-person {
        left: 10px;
    }
    .contact-book__main-content {
        width: 100%;
    }
}
.contact-book__name-person {
    margin: 0;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #2e3140;
}
@media (max-width: 526px) {
    .contact-book__name-person {
        display: none;
    }
}
.contact-book__form-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 60px;
}
@media (max-width: 1238px) {
    .contact-book__form-inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}
.contact-book__input-inner {
    display: flex;
    gap: 20px;
    width: 100%;
}
@media (max-width: 660px) {
    .contact-book__input-inner {
        flex-wrap: wrap;
    }
    .contact-book__main-content {
        width: 100%;
    }
}
.contact-book__for-select {
    display: flex;
    gap: 20px;
    width: 100%;
}
@media (max-width: 432px) {
    .contact-book__for-select {
        flex-wrap: wrap;
    }
    .contact-book__main-content {
        width: 100%;
    }
}
.contact-book__sort-alphabet {
    display: block;
    width: 50%;
    height: 36px;
    min-width: 150px;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(88, 86, 104, 0.12),
        0px 30px 60px rgba(143, 140, 167, 0.08);
    border-radius: 4px;
    border: none;
    padding-left: 10px;
    outline: none;
}
@media (max-width: 660px) {
    .contact-book__sort-alphabet {
        width: 100%;
    }
    .contact-book__main-content {
        width: 100%;
    }
}
.contact-book__groups {
    display: block;
    width: 50%;
    height: 36px;
    min-width: 200px;
    outline: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(88, 86, 104, 0.12),
        0px 30px 60px rgba(143, 140, 167, 0.08);
    border-radius: 4px;
    border: none;
    padding-left: 10px;
}
@media (max-width: 660px) {
    .contact-book__groups {
        width: 100%;
    }
}
.contact-book__find-blok {
    position: relative;
    width: 100%;
}
.contact-book__find-cash {
    display: block;
    width: 100%;
    height: 36px;
    padding-left: 12px;
    min-width: 200px;
    outline: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(88, 86, 104, 0.12),
        0px 30px 60px rgba(143, 140, 167, 0.08);
    border-radius: 4px;
    border: none;
}
.contact-book__img-search {
    position: absolute;
    top: 9px;
    right: 15px;
}
.contact-book__btn-inner {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
@media (max-width: 1238px) {
    .contact-book__btn-inner {
        justify-content: center;
    }
}
@media (max-width: 361px) {
    .contact-book__btn-inner {
        gap: 10px;
    }
}
.contact-book__btn {
    width: 154px;
    height: 36px;
    background: #fafafc;
    box-shadow: 0px 5px 20px rgba(88, 86, 104, 0.12),
        0px 30px 60px rgba(143, 140, 167, 0.08);
    border-radius: 4px;
    border: 1px solid #dbd8f8;
    min-width: 142px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #7165e3;
    transition: all 0.4s;
}
.contact-book__btn:hover {
    box-shadow: 0 0 10px 0 #7165e3 inset, 0 0 10px 4px #7165e3;
    transform: scale(1.1);
}
@media (max-width: 398px) {
    .contact-book__btn {
        width: 100%;
        font-size: 12px;
    }
}
