.contact-book {
    overflow: hidden;
}
.contact-book__main-content {
    padding-bottom: 0;
}
.contact-cash__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    padding: 0 10px;
    height: 280px;
    gap: 15px;
    background: linear-gradient(333.56deg, #5e52d2 4.88%, #b697f9 89.19%);
    box-shadow: 0px 5px 20px rgba(88, 86, 104, 0.12),
        0px 30px 60px rgba(143, 140, 167, 0.08);
    border-radius: 12px;
}
@media (max-width: 812px) {
    .contact-cash__box {
        flex-direction: column-reverse;
        height: 100%;
        padding: 10px;
    }
}
.contact-cash__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #fff;
    white-space: nowrap;
}
@media (max-width: 1215px) {
    .contact-cash__text {
        font-size: 24px;
    }
}
@media (max-width: 440px) {
    .contact-cash__text {
        font-size: 18px;
        line-height: 28px;
    }
}
.contact-cash__photo {
    max-width: 465px;
    max-height: 204px;
    width: 100%;
    /* Ширина изображений */
    height: 100%;
    /* Высота изображении */
    object-fit: contain;
}
@media (max-width: 1153px) {
    .contact-cash__photo {
        max-width: 350px;
    }
}
.contact-cash__title-steps {
    margin: 40px 0 35px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 70px;
    height: 70px;
    color: #2e3140;
    vertical-align: middle;
}
@media (max-width: 690px) {
    .contact-cash__title-steps {
        font-size: 22px;
    }
}
@media (max-width: 600px) {
    .contact-cash__title-steps {
        font-size: 18px;
    }
}
@media (max-width: 515px) {
    .contact-cash__title-steps {
        font-size: 14px;
    }
}
.contact-cash__title-steps-color {
    height: 70px;
    width: 91px;
    display: inline-block;
    color: #5e52d2;
    background: url(../../../../res/images/contactBook/fon.svg);
}
.contact-cash__steps-inner {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
@media (max-width: 640px) {
    .contact-cash__steps-inner {
        flex-wrap: wrap;
    }
}
.contact-cash__step-box {
    padding: 20px 25px 20px 30px;
    background: #fff;
    box-shadow: 0px 10px 30px rgba(88, 86, 104, 0.1),
        0px 30px 60px rgba(143, 140, 167, 0.08);
    border-radius: 8px;
    width: 100%;
}
.contact-cash__step-header {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.contact-cash__step-title {
    font-family: DM Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #7165e3;
    align-self: center;
}
.contact-cash__step-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    font-feature-settings: "liga" off;
    color: #7a7b85;
}
.contact-cash__step-img-arrow {
    position: absolute;
    top: -28px;
    right: -110px;
}
@media (max-width: 640px) {
    .contact-cash__step-img-arrow {
        top: 108px;
        right: -60px;
        transform: rotate(85deg);
    }
}
.contact-cash__step-img-arrow1 {
    position: absolute;
    bottom: -45px;
    right: -110px;
}
@media (max-width: 640px) {
    .contact-cash__step-img-arrow1 {
        top: auto;
        right: auto;
        left: -85px;
        bottom: -130px;
        transform: rotate(95deg);
    }
}
.contact-cash__tip-block {
    position: relative;
    width: 100%;
}
.contact-cash__tip-back {
    position: absolute;
    z-index: -1;
    left: -30px;
    width: 100vw;
    height: 100%;
    background: rgba(232, 232, 237, 0.5);
}
@media (max-width: 1024px) {
    .contact-cash__tip-back {
        left: -30px;
    }
}
@media (max-width: 375px) {
    .contact-cash__tip-back {
        left: -10px;
    }
}
.contact-cash__tip-inner {
    width: 100%;
    padding: 60px 200px 60px 0;
}
@media (max-width: 1379px) {
    .contact-cash__tip-inner {
        padding: 60px 30px 60px 0;
    }
}
@media (max-width: 855px) {
    .contact-cash__tip-inner {
        padding: 60px 0;
    }
}
.contact-cash__tip-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: #2e3140;
    align-self: center;
}
@media (max-width: 495px) {
    .contact-cash__tip-title {
        font-size: 14px;
    }
}
.contact-cash__tip-title-color {
    display: inline-block;
    padding: 6px 11px;
    margin-right: 17px;
    background: linear-gradient(333.56deg, #5e52d2 4.88%, #b697f9 89.19%);
    box-shadow: 0px 10px 20px rgba(97, 105, 255, 0.1),
        0px 10px 20px rgba(97, 105, 255, 0.1);
    border-radius: 7px;
    font-family: DM Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    text-shadow: 0px 10px 20px rgba(97, 105, 255, 0.1),
        0px 10px 20px rgba(97, 105, 255, 0.1);
}
@media (max-width: 495px) {
    .contact-cash__tip-title-color {
        font-size: 14px;
    }
}
.contact-cash__tip-box {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 855px) {
    .contact-cash__tip-box {
        flex-direction: column;
    }
}
.contact-cash__tip-text {
    margin-top: 32px;
    align-self: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    font-feature-settings: "liga" off;
    color: #7a7b85;
    text-shadow: 0px 0px 5px #eaeaec, 0px 0px 20px #eaeaec;
}
@media (max-width: 495px) {
    .contact-cash__tip-text {
        font-size: 14px;
    }
}
@media (max-width: 855px) {
    .contact-cash__tip-img {
        width: 70%;
        margin: 0 auto;
    }
}
.contact-cash__tip-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 132px;
    height: 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #7165e3;
    background: rgba(232, 232, 237, 0.5);
    border: 2px solid #dedcf1;
    border-radius: 5px;
}
.contact-cash__tip-block-white {
    position: relative;
    width: calc(100% - 240px);
}
.contact-cash__tip-back-white {
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 100vw;
    height: 100%;
    background: #fff;
}
@media (max-width: 1024px) {
    .contact-cash__tip-back-white {
        left: -30px;
    }
}
@media (max-width: 375px) {
    .contact-cash__tip-back-white {
        left: -10px;
    }
}
.contact-cash__tip-inner-white {
    width: 100%;
    padding: 60px 74px 60px 0;
}
@media (max-width: 1379px) {
    .contact-cash__tip-inner-white {
        padding: 60px 30px 60px 0;
    }
}
@media (max-width: 855px) {
    .contact-cash__tip-inner-white {
        padding: 60px 0;
    }
}
.contact-cash__tip-title-white {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: #2e3140;
}
@media (max-width: 495px) {
    .contact-cash__tip-title-white {
        font-size: 14px;
    }
}
.contact-cash__tip-title-color-white {
    display: inline-block;
    padding: 6px 11px;
    margin-right: 17px;
    background: linear-gradient(333.56deg, #5e52d2 4.88%, #b697f9 89.19%);
    box-shadow: 0px 10px 20px rgba(97, 105, 255, 0.1),
        0px 10px 20px rgba(97, 105, 255, 0.1);
    border-radius: 7px;
    font-family: DM Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    text-shadow: 0px 10px 20px rgba(97, 105, 255, 0.1),
        0px 10px 20px rgba(97, 105, 255, 0.1);
}
@media (max-width: 495px) {
    .contact-cash__tip-title-color-white {
        font-size: 14px;
    }
}
.contact-cash__tip-box-white {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
@media (max-width: 855px) {
    .contact-cash__tip-box-white {
        flex-direction: column-reverse;
    }
}
.contact-cash__tip-text-white {
    margin-top: 32px;
    align-self: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    font-feature-settings: "liga" off;
    color: #7a7b85;
    text-shadow: 0px 0px 5px #eaeaec, 0px 0px 20px #eaeaec;
}
@media (max-width: 495px) {
    .contact-cash__tip-text-white {
        font-size: 14px;
    }
}
.contact-cash__tip-text-white-color {
    color: #2e3140;
}
@media (max-width: 855px) {
    .contact-cash__tip-img-white {
        width: 70%;
        margin: 0 auto;
    }
}
