@font-face {
    font-family: "DM Sans";
    src: url("../../../../res/fonts/DMSans-Medium.ttf");
    src: url("../../../../res/fonts/DMSans-Regular.ttf");
    src: url("../../../../res/fonts/DMSans-Bold.ttf");
}

.contact-book__table-block {
    box-shadow: inset 0px -1px 0px rgba(137, 138, 141, 0.15);
    border-radius: 3px;
}
.contact-book__scroll {
    position: relative;
}
@media (max-width: 1262px) {
    .contact-book__scroll {
        overflow: scroll;
    }
}
.contact-book__table-wrapper {
    position: relative;
    margin-top: 20px;
    min-width: 950px;
    white-space: nowrap;
}
.contact-book__list-alph {
    position: absolute;
    z-index: 10000;
    list-style-type: none;
    right: 0;
    top: 49px;
    width: 34px;
    background: linear-gradient(
            0deg,
            rgba(240, 240, 245, 0.75),
            rgba(240, 240, 245, 0.75)
        ),
        #fff;
    box-shadow: 0px 5px 15px rgba(88, 86, 104, 0.12);
}
.contact-book__item-alph {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 4px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    cursor: pointer;
    color: #4c4e5a;
    transition: transform 0.4s;
}
.contact-book__item-alph:hover {
    transform: scale(1.2);
}
.contact-book__item-alph-true {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 4px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    cursor: pointer;
    color: #7165e3;
    transition: transform 0.4s;
}
.contact-book__item-alph-true:hover {
    transform: scale(1.2);
}
.contact-book__head-table {
    font-family: "DM Sans" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #2e3140;
    background-color: #f1f3f6;
}
.contact-book__th {
    text-align: start !important;
    padding: 15px 15px 10px !important;
    font-family: "DM Sans" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #2e3140;
    cursor: default;
}
.contact-book__th-email {
    background: url(../../../../res/images/contactBook/Sort.svg);
    background-repeat: no-repeat;
    background-position: 62px 20px;
    cursor: pointer;
}
.contact-book__th-phone {
    background: url(../../../../res/images/contactBook/Sort.svg);
    background-repeat: no-repeat;
    background-position: 128px 20px;
    cursor: pointer;
}
.contact-book__th-social {
    background: url(../../../../res/images/contactBook/Sort.svg);
    background-repeat: no-repeat;
    background-position: 163px 20px;
    cursor: pointer;
}
.contact-book__th-groups {
    background: url(../../../../res/images/contactBook/Sort.svg);
    background-repeat: no-repeat;
    background-position: 74px 20px;
    cursor: pointer;
}
.contact-book__tr-alphabet {
    height: 40px;
    background: #fafafc;
    box-shadow: inset 0px -1px 0px rgba(137, 138, 141, 0.15);
    border-radius: 4px 4px 0px 0px !important;
}
.contact-book__tr-alphabet td {
    padding: 10px 15px 4px;
    text-align: start !important;
    font-family: "DM Sans" !important;
    font-style: normal;
    font-weight: 500;
    cursor: default;
    font-size: 14px;
    color: #2e3140;
    border-bottom: 2px solid #e9e9eb !important;
}
.contact-book__input-checkbox {
    display: none;
}
.contact-book__td-checkbox {
    position: relative;
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ebecf0 !important;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
}
.contact-book__td-checkbox::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -3px;
    left: 3px;
}
.contact-book__td-text {
    font-family: "DM Sans" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #2e3140;
}
.contact-book__email {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px;
    line-height: 100%;
    color: #4c4e5a;
}
.contact-book__img-flag {
    margin-right: 7px;
}
.contact-book__phon-number {
    font-family: "DM Sans" !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px;
    line-height: 100%;
    color: #4c4e5a;
}
.contact-book__group {
    background: rgba(219, 216, 248, 0.35);
    border-radius: 3px;
    font-family: "DM Sans" !important;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 100%;
    color: #7165e3;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 36px;
}
.contact-book__tr-content {
    height: 66px;
}
.contact-book__social-img {
    display: inline-flex;
    margin-right: 12px;
}
.contact-book__block-pagination {
    display: flex;
    margin-top: 33px;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
}
@media (max-width: 375px) {
    .contact-book__block-pagination {
        margin-left: 0;
    }
}
.contact-book__inner-add-people {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #7165e3;
    cursor: pointer;
}
.contact-book__img-arrow {
    width: 12px;
}
.contact-book__show-contacts {
    margin: 0;
    font-family: "DM Sans" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #7a7b85;
}
.contact-book__input-checkbox:checked + .contact-book__td-checkbox:before {
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7165e3;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
}
.contact-book__input-checkbox:disabled + .contact-book__td-checkbox:before {
    background: #eee;
    color: #aaa;
}
