/*reset styles*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*sumra contact book styles*/

.sumra-contact-book-main {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.sumra-contact-book-left-panel {
    background-color: blueviolet;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
}
.sumra-contact-book-main-panel {
    background-color: coral;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
}
.sumra-contact-book-link {
    position: relative;
    bottom: calc(100% - 250px);
    padding: 25px;
}
.sumra-contact-book-link a {
    font-family: Inter, Twemoji, "Apple Color Emoji", "Segoe UI Emoji", Arial,
        Helvetica, Sans-Serif, "Noto Color Emoji";
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
/*sidebar styles*/
.contact-book {
    position: relative;
}
.contact-book__sidebar-block {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../../../../res/images/contactBook/background.svg);
    width: 240px;
    padding: 34px 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (max-width: 1024px) {
    .contact-book__sidebar-block {
        transform: translateX(-100%);
    }
}
.contact-book__sidebar-block-visible {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../../../../res/images/contactBook/background.svg);
    width: 240px;
    padding: 34px 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(0);
}
.contact-book__logo-img {
    width: 100%;
    padding: 0 20px 46px 28px;
}
.contact-book__title-sidebar {
    padding-left: 28px;
    padding-right: 20px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
}
.contact-book__add-new-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 13px 0 13px 28px;
    margin-bottom: 7px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s linear 0s;
}
.contact-book__add-new-group:hover {
    color: #fff;
    background: #7165e3;
}
.contact-book__btn-import {
    display: flex;
    gap: 10px;
    padding: 15px 0 15px 28px;
    margin-bottom: 7px;
    width: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s linear 0s;
}
.contact-book__btn-import:hover {
    color: #fff;
    background: #7165e3;
}
.contact-book__more-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}
.contact-book__desc {
    padding-left: 28px;
    color: #a38cf1;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}
.contact-book__more-btn {
    display: flex;
    width: 100%;
    padding-left: 28px;
    color: #fff;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    transition: all 0.5s linear 0s;
}
.contact-book__more-btn:hover {
    color: #fff;
    background: #7165e3;
}
