/*reset styles*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*sumra contact book styles*/

@font-face {
    font-family: "DM Sans";
    src: url("../../../../res/fonts/DMSans-Medium.ttf");
    src: url("../../../../res/fonts/DMSans-Regular.ttf");
    src: url("../../../../res/fonts/DMSans-Bold.ttf");
}

.sumra-contact-book-main {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.sumra-contact-book-left-panel {
    background-color: blueviolet;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
}
.sumra-contact-book-main-panel {
    background-color: coral;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
}
.sumra-contact-book-link {
    position: relative;
    padding: 25px;
}

.sumra-contact-book-link a {
    font-family: Inter, Twemoji, "Apple Color Emoji", "Segoe UI Emoji", Arial,
        Helvetica, Sans-Serif, "Noto Color Emoji";
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
