/*sidebar styles*/
.contact-book {
    position: relative;
}
.contact-book__sidebar-block {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../../../../res/images/contactBook/background.svg);
    width: 240px;
    padding: 34px 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (max-width: 1024px) {
    .contact-book__sidebar-block {
        transform: translateX(-100%);
    }
}
.contact-book__sidebar-block-visible {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../../../../res/images/contactBook/background.svg);
    width: 240px;
    padding: 34px 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(0);
}
.contact-book__logo-img {
    width: 100%;
    padding: 0 20px 46px 28px;
}
.contact-book__title-sidebar {
    padding-left: 28px;
    padding-right: 20px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff !important;
    opacity: 0.5;
}
.contact-book__add-new-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 13px 0 13px 28px;
    margin-bottom: 7px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5) !important;
    transition: all 0.5s linear 0s;
}
.contact-book__add-new-group:hover {
    color: #fff !important;
    background: #7165e3;
}
.contact-book__btn-import {
    display: flex;
    gap: 10px;
    padding: 15px 0 15px 28px;
    margin-bottom: 7px;
    width: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff !important;
    transition: all 0.5s linear 0s;
}
.contact-book__btn-import:hover {
    color: #fff;
    background: #7165e3;
}
.contact-book__more-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}
.contact-book__desc {
    padding-left: 28px;
    color: #a38cf1;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}
.contact-book__more-btn {
    display: flex;
    width: 100%;
    padding-left: 28px;
    color: #ffffff !important;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    transition: all 0.5s linear 0s;
}
.contact-book__more-btn:hover {
    color: #fff;
    background: #7165e3;
}
